/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e7d29f;
    line-height:0;

}

/* Навигационное меню */
.navbar {
    top: 0;
    left: 0;
    right: 0;
    z-index:1000;
    position: fixed;
    width: 100%;
    background-color: #432818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Логотип */
.logo img {
    height: 50px;
    width: auto;
}

/* Пункты меню */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: orange;
}

.active {
    font-weight: bold;
}

.button {
    background-color: #e09d30;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #CE6000;
}

/* Шапка сайта */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: var(--main-beige);
}

.header-img {
    max-width: 200px;
    height: auto;
}






/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #e7d29f;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #e09d30;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #e7d29f;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #e7d29f;
}

#totalAmount {
    font-size: 18px;
    color: green;
}



