/* Основные цвета */


body {
    font-family: 'Lato', sans-serif;
    background-color: #eae2b7;
    margin: 0;
    padding: 20px;
}
/* Верхняя навигация */



.navbar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: #432818;
    display: flex; /* Используем Flexbox для размещения элементов */
    align-items: center; /* Выравниваем элементы по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    padding: 10px; /*50px; Добавляем отступы для удобства */
  }
  
  /* Логотип */
  .logo {
  display: flex; /* Используем Flexbox для размещения элементов */
  align-items: center; /* Выравниваем элементы по вертикали */
    cursor: pointer;
    height: 50px; /* Высота изображения */
    width: auto; /* Автоматическая ширина (чтобы сохранить пропорции) */
    color: white;
    font-size: 24px;
  }
  
  .anim {
  transition-property: transform;
  transition: transform .1s ease-in-out;
  }
  
  .anim:hover{
      transition: transform .1s ease-in-out;
      transform: scale(1.1);
  }
  
  .logo-text {
      display: flex; /* Используем Flexbox для размещения элементов */
      align-items: center; /* Выравниваем элементы по вертикали */
      font-size: 20px;
      color: #a67c52;
      margin-left: 10px;
      
  }
  
  
  
  
  /* Меню */
  .menu {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0; /* Сбрасываем внешние отступы */
    padding: 0; /* Сбрасываем внутренние отступы */
    display: flex; /* Располагаем пункты меню горизонтально */
  }
  
  
  
  .menu li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;
  }
  
  .menu a {
      text-decoration: none;
      color: white;
      font-size: 16px;
      transition: all 0.3s ease;
  }
  
  .menu a:hover {
      color: orange;
  }
  
  .active {
      font-weight: bold;
  }
  
  .button {
      background-color: #BB9457;
      padding: 10px 15px;
      border-radius: 5px;
      transition: all 0.3s ease;
  }
  
  .button:hover {
      background-color: #CE6000;
  }









.container {
    max-width: 800px;
    margin: auto;
    color: #000000;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.reviews {
    display: flex;               /* Используем Flexbox для горизонтальной компоновки */
    justify-content: space-evenly; /* Равномерное распределение пространства между отзывами */
    gap: 20px;                  /* Небольшое расстояние между отзывами */
}








.review {
    background-color: #BB9457;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(130, 89, 89, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;            /* Минимальная ширина карточки */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}

.stars {
    color: gold;
    font-size: 16px;
    margin-bottom: 8px;
}

.name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}

.text {
    line-height: 1.4;
    font-size: 14px;
    text-align: center;
}

